img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.messageItemIcon {
    font-size: 11px;
    color: #aaaaaa;
    height: 11px;
    width: 11px;
    margin: 2px;
}

.flex1 {
    flex: 1;

}

.flex5 {
    flex: 5;

}

.font10 {
    font-size: 10px;
}

.messageSentBy {
    font-weight: 500;
}

.messageSentDate {
    font-weight: 200;
    color: #aaaaaa;
    font-size: 9px;
}

.messageContent {
    font-weight: 300;
}

mat-list-item {
    background-color: white;
    padding: 3px 0;
    flex:1;
}


.didntRead{
    background-color: #f4f5f8;
}